/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo */
body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

/* Estilo para el encabezado */
header {
    background-color: #2b95c8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Estilo para la navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para el contenido principal */
main {
    flex: 1;
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main ul {
    list-style: none;
    padding: 0;
}

main ul li {
    margin-bottom: 20px;
}

main ul li a {
    display: block;
    padding: 15px;
    background-color: #2b95c8;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

main ul li a:hover {
    background-color: #9eafce;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2b95c8;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos para el logo del hospital */
.logo {
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

/* Estilos para el contenedor del número de turno */
.turno {
    text-align: center;
}

.turno h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

#numero_turno {
    font-size: 3rem;
    color: #007bff;
}

/* Estilos para el contenedor de la fecha y hora */
.fecha-hora {
    margin-top: 20px;
    font-size: 1.2rem;
}